* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  overflow: hidden;
  position: relative;
}


.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
  opacity: 0.1;
  z-index: 1;
}

/* Contenedor principal */
.container {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}

/* Logo pene */
.header {
  text-align: center;
  margin-bottom: 15px;
}

.logo {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.title {
  font-size: 26px;
  color: #4a90e2;
  font-weight: 700;
}

.subtitle {
  font-size: 16px;
  color: #666;
  margin-top: 5px;
}

iframe {
  width: 100%;
  height: 70vh;
  border: none;
  border-radius: 8px;
  background-color: transparent;
}

iframe:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .title {
    font-size: 22px;
  }

  .subtitle {
    font-size: 14px;
  }

  .logo {
    width: 60px;
  }
}
